@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --header-height : 70px;
        --sidebar-width : 250px;
        --sidebar-width-close : -250px;
        --body-color : #fff;
    }

    html {
        font-family: 'Poppins', sans-serif;
    }

    body {
        @apply bg-[--body-color] relative;
    }

    header {
        @apply fixed ms-0 h-[--header-height] bg-[--body-color] z-10 p-4 w-full;
    }

    main {
        @apply absolute w-full
    }

    header, aside, main, table, .nav-item {
        @apply transition-all duration-300 ease-out
    }

    aside {
        @apply fixed h-[643px] bg-[--body-color] z-10 p-4 w-[--sidebar-width] left-[--sidebar-width-close];
    }
    footer {
        @apply absolute bottom-0 right-0
    }

    table {
        @apply table-auto border-collapse text-sm bg-white w-full;
    }
    
    th, td {
        @apply align-top py-3 px-4 text-left border border-gray-300 border-x first:border-l-0 last:border-r-0
    }

    th {
        @apply font-medium first:rounded-tl-md last:rounded-tr-md
    }
}

@layer components {
    .img-border-container {
        @apply w-full mx-auto
    }
    .img-border {
        @apply bg-[url('../../public/assets/img/songket1.jpg')] bg-repeat-x h-3 bg-contain
    }

    .header, .main {
        width: calc(100% - var(--sidebar-width));
        @apply ms-[--sidebar-width]
    }


    .form-search {
        @apply relative rounded-md
    }

    .form-search input {
        @apply block px-4 text-sm md:text-base py-2 w-full rounded-md border-0 ring-1 ring-inset ring-gray-200 focus:ring-0 focus:ring-inset focus:ring-blue-600
    }

    .form-search button {
        @apply absolute text-sm md:text-base inset-y-0 right-0 pl-4 pr-5 ring-1 ring-inset ring-gray-200 bg-slate-50 rounded-r-md hover:bg-gray-100
    }

    .form-select {
        @apply px-4 py-2 appearance-none bg-gray-100 rounded-md w-full text-sm md:text-base focus:ring-2 focus:ring-inset focus:ring-blue-600
    }

    .button, .badge{
        @apply text-white rounded-md text-sm md:text-base;
    }
    .button{
        @apply  px-4 py-2;
    }
    .badge{
        @apply  px-2 py-1;
    }
    

    .input-group {
        @apply rounded-md w-full px-4 py-2 border border-gray-300 text-sm md:text-base
    }

    /* Header */
    .header-container {
        @apply flex items-center h-full w-full
    }

    .menu-icon {
        @apply flex items-center justify-center text-4xl text-black pr-4 align-middle cursor-pointer
    }

    .username {
        @apply justify-self-end
    }

    .card {
        @apply bg-white rounded-md shadow flex p-4
    }

    .dash-icon-container {
        @apply flex justify-center items-center
    }

    .dash-icon {
        @apply flex justify-center text-[3rem] md:text-[4.4rem] pr-4
    }

    .archive-type {
        @apply text-base md:text-xl
    }

    .number-of-archives {
        @apply text-2xl md:text-3xl font-semibold
    }

    /* Sidebar */

    .aside-container {
        @apply h-full 
    }

    .aside-opened {
        @apply left-0
    }

    .nav-item {
        @apply  rounded-md mb-4 py-2 ;
        @apply hover:bg-blue-100 hover:text-blue-600;
    }

    .active {
        @apply bg-blue-100 text-blue-600
    }

    .nav-link {
        @apply flex items-center text-base md:text-lg
    }

    .text-hidden {
        @apply hidden
    }

    .nav-icon {
        @apply flex justify-center text-2xl min-w-[2.7rem] !important
    }

    /* Main */
    .main-container {
        @apply ms-0 mt-[--header-height] p-6 bg-gray-100 min-h-screen rounded-t-xl shadow-inner
    }

    .page-title {
        @apply text-2xl align-middle mb-6;
    }

    .section {
        @apply bg-white rounded-lg w-full p-4 border  shadow
    }

    .table-section {
        @apply p-0 bg-transparent
    }

    .edit-icon {
        @apply text-2xl text-blue-500 
    }

    .label {
        @apply block mb-2 text-sm md:text-base
    }

    .pagination {
        @apply p-2 bg-white
    }
}
